<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TrainingTracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>23AA68E02E956B1000E7AF01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23AA68EF2E956B1200E7AF01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23AA68F92E956B1200E7AF01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
